@model Hospital.Models.Entity.DEPO

@{
    ViewBag.Title = "DepoGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("DepoDüzenle", "Depo", FormMethod.Post))
{
    <form class="u-form-group" method="post">
        <div style="padding-left:100px;padding-top:20px">

            @Html.HiddenFor(t => t.ID, new { @class = "form-control" })
            @Html.LabelFor(t => t.URUNADI)
            @Html.TextBoxFor(t => t.URUNADI, new { @class = "form-control" })
            @Html.LabelFor(t => t.URUNACIKLAMASI)
            @Html.TextBoxFor(t => t.URUNACIKLAMASI, new { @class = "form-control" })
            @Html.LabelFor(t => t.depotürü)
            @Html.TextBoxFor(t => t.depotürü, new { @class = "form-control" })
            @Html.LabelFor(t => t.yanetki)
            @Html.TextBoxFor(t => t.yanetki, new { @class = "form-control" })
            @Html.LabelFor(t => t.sut)
            @Html.TextBoxFor(t => t.sut, new { @class = "form-control" })
            @Html.LabelFor(t => t.rapor)
            @Html.TextBoxFor(t => t.rapor, new { @class = "form-control" })
            @Html.LabelFor(t => t.türü)
            @Html.TextBoxFor(t => t.türü, new { @class = "form-control" })
            @Html.LabelFor(t => t.css)
            @Html.TextBoxFor(t => t.css, new { @class = "form-control" })
            @Html.LabelFor(t => t.STOK)
            @Html.TextBoxFor(t => t.STOK, new { @class = "form-control" })

            <div style="padding-top:10px"></div>
            <button class="btn btn-info" id="Btn">
                Düzenle
            </button>
        </div>

    </form>
}


