@model Hospital.Models.Entity.Users

@{
    ViewBag.Title = "AyarGetir";
    Layout = "~/Views/Shared/Sekreter.cshtml";
}

@using (Html.BeginForm("AyarDüzenle", "SekreterAyarlar", FormMethod.Post))
{
    <form class="u-form-group" method="post">
        <div style="padding-left:80px;padding-top:20px">

            @Html.HiddenFor(t => t.ID, new { @class = "form-control" })
            @Html.LabelFor(t => t.AD)
            @Html.TextBoxFor(t => t.AD, new { @class = "form-control" })
            @Html.LabelFor(t => t.SOYAD)
            @Html.TextBoxFor(t => t.SOYAD, new { @class = "form-control" })
            @Html.LabelFor(t => t.ANAHTAR)
            @Html.TextBoxFor(t => t.ANAHTAR, new { @class = "form-control" })
            @Html.LabelFor(t => t.TELNO)
            @Html.TextBoxFor(t => t.TELNO, new { @class = "form-control" })
            @Html.LabelFor(t => t.ADRES)
            @Html.TextBoxFor(t => t.ADRES, new { @class = "form-control" })
            @Html.LabelFor(t => t.Cinsiyet)
            @Html.TextBoxFor(t => t.Cinsiyet, new { @class = "form-control" })
            @Html.LabelFor(t => t.Uyruk)
            @Html.TextBoxFor(t => t.Uyruk, new { @class = "form-control" })
            @Html.LabelFor(t => t.DiplomaNo)
            @Html.TextBoxFor(t => t.DiplomaNo, new { @class = "form-control" })
            @Html.LabelFor(t => t.DiplomaTarihi)
            @Html.TextBoxFor(t => t.DiplomaTarihi, new { @class = "form-control" })
            @Html.LabelFor(t => t.DiplomaTescilTarihi)
            @Html.TextBoxFor(t => t.DiplomaTescilTarihi, new { @class = "form-control" })
            @Html.LabelFor(t => t.SicilNo)
            @Html.TextBoxFor(t => t.SicilNo, new { @class = "form-control" })
            @Html.LabelFor(t => t.ResmiSicilNo)
            @Html.TextBoxFor(t => t.ResmiSicilNo, new { @class = "form-control" })
            <div style="padding-top:10px"></div>
            <button class="btn btn-info" id="Btn">
                Bilgilerimi Düzenle
            </button>
        </div>

    </form>
}

